%h1 Supply User Information

To use the Casa Danesa web site, you must supply the following
information

= form_for @user do
  - if @user && @user.errors.any?
    .error_messages
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this account from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = label_tag :first_name
    %br
    = text_field_tag :first_name, @user.try(:first_name)

  .field
    = label_tag :last_name
    %br
    = text_field_tag :last_name, @user.try(:last_name)

  .field
    = label_tag :email
    %br
    = text_field_tag :email, @user.try(:email)

  .actions= submit_tag "Register"

